<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tmurphy.tamurphy_plus1"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="16" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.tmurphy.tamurphy_plus1.CounterArrayActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tmurphy.tamurphy_plus1.CounterPageActivity"
            android:label="@string/title_activity_counter_page"
            android:parentActivityName="com.tmurphy.tamurphy_plus1.CounterArrayActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tmurphy.tamurphy_plus1.CounterArrayActivity" />
        </activity>
        <activity
            android:name="com.tmurphy.tamurphy_plus1.StatsPage"
            android:label="@string/title_activity_stats_page"
            android:parentActivityName="com.tmurphy.tamurphy_plus1.CounterPageActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tmurphy.tamurphy_plus1.CounterPageActivity" />
        </activity>
        <activity
            android:name="com.tmurphy.tamurphy_plus1.CounterStatistics"
            android:label="@string/title_activity_counter_statistics"
            android:parentActivityName="com.tmurphy.tamurphy_plus1.CounterPageActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tmurphy.tamurphy_plus1.CounterPageActivity" />
        </activity>
    </application>

</manifest>
